<div ng-repeat="w in model.workExpList">
<div class="col-sm-6">
    <div class="card">
        <div class="card-block">
                <div href="#" class="list-group-item list-group-item-bordered">
                    <h3 class="list-group-item-heading">{{w.jobTitle}}</h3>
                    <h4 class="list-group-item-text">{{w.companyName}},&nbsp;{{w.location}}</h4>
                    <h5 class="list-group-item-text">{{w.startDate}} - {{w.endDate}}</h5>
                    <h5 class="list-group-item-text">{{w.description}}</h5>
                    <h5><strong>Technologies</strong></h5>
                    <h5 class="list-group-item-text">{{w.technologies.join(",")}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>