
<script src="http://rawgithub.com/ashleydw/lightbox/master/dist/ekko-lightbox.js"></script>

<div ng-include="'./views/menu/admin.menu.view.client.html'"></div>


<div class="container container-if-fixed-header">

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-5 card">
                <div class="col-md-4 card-block custom-card-v2 custom-card-1" style="background: #27ae60; color:white">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h1 class="card-title" style="font-size: 5em;" >{{model.userStats.userCount}}</h1>
                        </div>
                        <div class="col-md-6">
                            <br/>
                            <h4 class="card-title">Users</h4>
                            <p class="card-text">Total users in system</p>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="pull-right">
                            <a href="#" class="btn btn-primary btn-sm">Manage</a>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-md-5 card">
                <div class="col-md-4 card-block custom-card-v2 custom-card-1" style="background: #2980b9; color:white">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h1 class="card-title" style="font-size: 5em;">{{model.userStats.recruiterCount}}</h1>
                        </div>
                        <div class="col-md-6">
                            <br/>
                            <h4 class="card-title">Recruiters</h4>
                            <p class="card-text">Total Recruiters in system</p>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="pull-right">
                            <a href="#" class="btn btn-primary btn-sm">Manage</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-5 card">
                <div class="col-md-4 card-block custom-card-v2 custom-card-1" style="background: #e74c3c; color:white">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h1 class="card-title" style="font-size: 5em;">{{model.userStats.newMessageCount}}</h1>
                        </div>
                        <div class="col-md-6">
                            <br/>
                            <h4 class="card-title">New Messages</h4>
                            <p class="card-text">New messages pending.</p>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="pull-right">
                            <a href="#" class="btn btn-primary btn-sm">Manage</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
