
<script src="http://rawgithub.com/ashleydw/lightbox/master/dist/ekko-lightbox.js"></script>

<div ng-include="'./views/menu/admin.menu.view.client.html'"></div>


<div class="container container-if-fixed-header">

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-5 card">
                <div class="col-md-4 card-block custom-card-v2 custom-card-1" style="background: #27ae60; color:white">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h1 class="card-title" style="font-size: 5em;" >{{model.userStats.userCount}}</h1>
                        </div>
                        <div class="col-md-6">
                            <br/>
                            <h4 class="card-title">Users</h4>
                            <p class="card-text">Total users in system</p>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="pull-right">
                            <a href="#/admin/{{model.aid}}/user" class="btn btn-primary btn-sm">Manage</a>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-md-5 card">
                <div class="col-md-4 card-block custom-card-v2 custom-card-1" style="background: #2980b9; color:white">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h1 class="card-title" style="font-size: 5em;">{{model.userStats.recruiterCount}}</h1>
                        </div>
                        <div class="col-md-6">
                            <br/>
                            <h4 class="card-title">Recruiters</h4>
                            <p class="card-text">Total Recruiters in system</p>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="pull-right">
                            <a href="#/admin/{{model.aid}}/recruiter" class="btn btn-primary btn-sm">Manage</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-5 card">
                <div class="col-md-4 card-block custom-card-v2 custom-card-1" style="background: #e74c3c; color:white">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h1 class="card-title" style="font-size: 5em;">{{model.userStats.newMessageCount}}</h1>
                        </div>
                        <div class="col-md-6">
                            <br/>
                            <h4 class="card-title">New Messages</h4>
                            <p class="card-text">New messages pending.</p>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="pull-right">
                            <a href="#/admin/{{model.aid}}/message" class="btn btn-primary btn-sm">Manage</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


    <br/>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Quick Controls</h2>
        </div>

        <div class="col-md-12">
            <div class="col-md-6">
                <div class="custom-card-v2 custom-card-2">
                    <div class="col-md-12">
                        <h3 class="text-center">Create New User</h3>
                    </div>

                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <div class="form-group">
                        <div class="input-group col-sm-8 col-sm-offset-2">
                            <div ng-show="model.createUserError" class="alert alert-danger" role="alert">
                                {{model.createUserError}}
                            </div>
                            <div ng-show="model.createUserSuccess" class="alert alert-success" role="alert">
                                {{model.createUserSuccess}}
                            </div>
                            <br/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group col-sm-8 col-sm-offset-2">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" ng-model="user.username" autocomplete="off" ng-change="model.checkUsernameAvailability(user.username)" class="form-control" id="inputUsername" placeholder="Username">
                        </div>
                        <span class="help-block col-sm-8 col-sm-offset-2">{{model.checkUsername}}</span>
                    </div>

                    <div class="form-group">
                        <div class="input-group col-sm-8 col-sm-offset-2">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="password" ng-model="user.password" class="form-control" id="inputPassword" placeholder="Password">
                        </div>
                        <span class="help-block col-sm-8 col-sm-offset-2">{{model.checkPassword}}</span>
                    </div>

                    <div class="form-group">
                        <div class="input-group col-sm-8 col-sm-offset-2">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="password" ng-model="user.repassword" class="form-control" id="inputRePassword" placeholder="Retype Password">
                        </div>
                        <span class="help-block col-sm-8 col-sm-offset-2" ng-show="model.checkRePassword">{{model.checkRePassword}}</span>

                    </div>

                    <div class="form-group">
                        <div class="input-group col-sm-8 col-sm-offset-2">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" ng-model="user.firstName" class="form-control" id="inputFirstName" placeholder="First Name">
                        </div>
                        <span class="help-block col-sm-8 col-sm-offset-2" ng-show="model.checkFirstName">{{model.checkFirstName}}</span>
                    </div>

                    <div class="form-group">
                        <div class="input-group col-sm-8 col-sm-offset-2">
                            <span class="input-group-addon"><i class="fa fa-user-o"></i></span>
                            <input type="text" ng-model="user.lastName" class="form-control" placeholder="Last Name">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group col-sm-8 col-sm-offset-2">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input type="email" ng-model="user.email" class="form-control" placeholder="Email">
                        </div>
                        <span class="help-block col-sm-8 col-sm-offset-2" ng-show="model.checkEmail">{{model.checkEmail}}</span>
                    </div>

                    <div class="form-group">
                        <div class="input-group col-sm-8 col-sm-offset-2">
                            <span class="input-group-addon"><i class="fa fa-id-card"></i></span>
                            <select class="form-control" ng-init="user.role = 'USER'" ng-model="user.role" id="select">
                                <option >USER</option>
                                <option>ADMIN</option>
                            </select>
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <div>
                                <a ng-click="model.createUser(user)" class="btn btn-block btn-primary">Create</a>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="custom-card-v2 custom-card-2">
                    <div class="col-md-12">
                        <h3 class="text-center">Create New Recruiter</h3>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>

                    <div class="form-group">
                        <div class="input-group col-sm-8 col-sm-offset-2">
                            <div ng-show="model.createRecruiterError" class="alert alert-danger" role="alert">
                                {{model.createRecruiterError}}
                            </div>
                            <div ng-show="model.createRecruiterSuccess" class="alert alert-success" role="alert">
                                {{model.createRecruiterSuccess}}
                            </div>
                            <br/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group col-sm-8 col-sm-offset-2">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" ng-model="recruiter.username" autocomplete="off" ng-change="model.checkRecruiterUsernameAvailability(recruiter.username)" class="form-control" id="inputUsername" placeholder="Username">
                        </div>
                        <span class="help-block col-sm-8 col-sm-offset-2" ng-show="model.checkRecruiterUsername">{{model.checkRecruiterUsername}}</span>

                    </div>

                    <div class="form-group">
                        <div class="input-group col-sm-8 col-sm-offset-2">
                            <span class="input-group-addon"><i class="fa fa-circle"></i></span>
                            <input type="text" ng-model="recruiter.companyname" required class="form-control" id="inputCompanyName" placeholder="Company Name">
                        </div>
                        <span class="help-block" ng-show="model.checkCompanyName">{{model.checkCompanyName}}</span>

                    </div>


                    <div class="form-group">
                        <div class="input-group col-sm-8 col-sm-offset-2">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="password" ng-model="recruiter.password" class="form-control" id="inputPassword" placeholder="Password">
                        </div>
                        <span class="help-block" ng-show="model.checkRecruiterPassword">{{model.checkRecruiterPassword}}</span>
                    </div>

                    <div class="form-group">
                        <div class="input-group col-sm-8 col-sm-offset-2">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="password" ng-model="recruiter.repassword" class="form-control" id="inputRePassword" placeholder="Retype Password">
                        </div>
                        <span class="help-block" ng-show="model.checkRecruiterRePassword">{{model.checkRecruiterRePassword}}</span>

                    </div>

                    <div class="form-group">
                        <div class="input-group col-sm-8 col-sm-offset-2">
                            <span class="input-group-addon"><i class="fa fa-link"></i></span>
                            <input type="text" ng-model="recruiter.website" class="form-control" id="inputWebsite" placeholder="Company Website Url">
                        </div>
                        <span class="help-block" ng-show="model.checkWebsite">{{model.checkWebsite}}</span>
                    </div>

                    <div class="form-group">
                        <div class="input-group col-sm-8 col-sm-offset-2">
                            <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                            <textarea type="text" ng-model="recruiter.description" rows="1" class="form-control" id="inputDescription" placeholder="Description"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group col-sm-8 col-sm-offset-2">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input type="email" ng-model="recruiter.email" class="form-control" placeholder="Email">
                        </div>
                        <span class="help-block" ng-show="model.checkRecruiterEmail">{{model.checkRecruiterEmail}}</span>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">

                            <div>
                                <a ng-click="model.registerRecruiter(recruiter)" class="btn btn-block btn-primary">Register</a>
                            </div>
                            <br/>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>

</div>
