
<script src="//rawgithub.com/ashleydw/lightbox/master/dist/ekko-lightbox.js"></script>

<div ng-include="'./views/menu/menu.view.client.html'"></div>
<div class="container-if-fixed-header">
    <div class="form-group url-pb-class">
        <label class="control-label">Job Description URL:</label>
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <a href="#/user/dashboard/resumeData">
      <button class="btn btn-success" type="button">Get Resume Data</button>
                    </a>
    </span>
        </div>
    </div>
    <div class="container mt40">
        <section class="row">
            <ng-include src="'views/resumes/resume-thumbnail.view.client.html'"></ng-include>
            <ng-include src="'views/resumes/resume-thumbnail.view.client.html'"></ng-include>
            <ng-include src="'views/resumes/resume-thumbnail.view.client.html'"></ng-include>
            <ng-include src="'views/resumes/resume-thumbnail.view.client.html'"></ng-include>
            <ng-include src="'views/resumes/resume-thumbnail.view.client.html'"></ng-include>
        </section>
    </div>



</div>
