
<script src="//rawgithub.com/ashleydw/lightbox/master/dist/ekko-lightbox.js"></script>


<div ng-include="'./views/menu/menu.view.client.html'"></div>
<div class="container-if-fixed-header">
    <div dashboard-directives="" class="container mt40">
        <section class="row">

            <article class="col-xs-12 col-sm-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="http://lorempixel.com/350/350/nature/4" title="Nature Portfolio" class="zoom" data-title="Amazing Nature" data-footer="The beauty of nature" data-type="image" data-toggle="lightbox">
                            <img src="http://lorempixel.com/350/350/nature/4" alt="Nature Portfolio" />
                            <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                        </a>
                    </div>
                    <div class="panel-footer">
                        <h4><a href="#" title="Nature Portfolio">Nature</a></h4>
                        <a href="#/user/dashboard" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-option-vertical pull-right">
                        </span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
            </article>


            <article class="col-xs-12 col-sm-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="http://lorempixel.com/350/350/nature/4" title="Nature Portfolio" class="zoom" data-title="Amazing Nature" data-footer="The beauty of nature" data-type="image" data-toggle="lightbox">
                            <img src="http://lorempixel.com/350/350/nature/4" alt="Nature Portfolio" />
                            <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                        </a>
                    </div>
                    <div class="panel-footer">
                        <h4><a href="#" title="Nature Portfolio">Nature</a></h4>
                        <a href="" data-toggle="dropdown" class="dropdown-toggle">
                        <span class="glyphicon glyphicon-option-vertical pull-right">

                    </span>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-xs-12 col-sm-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="http://lorempixel.com/350/350/nature/4" title="Nature Portfolio" class="zoom" data-title="Amazing Nature" data-footer="The beauty of nature" data-type="image" data-toggle="lightbox">
                            <img src="http://lorempixel.com/350/350/nature/4" alt="Nature Portfolio" />
                            <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                        </a>
                    </div>
                    <div class="panel-footer">
                        <h4><a href="#" title="Nature Portfolio">Nature</a></h4>
                        <span class="glyphicon glyphicon-option-vertical pull-right">

                    </span>
                    </div>
                </div>
            </article>

            <article class="col-xs-12 col-sm-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="http://lorempixel.com/350/350/nature/4" title="Nature Portfolio" class="zoom" data-title="Amazing Nature" data-footer="The beauty of nature" data-type="image" data-toggle="lightbox">
                            <img src="http://lorempixel.com/350/350/nature/4" alt="Nature Portfolio" />
                            <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                        </a>
                    </div>
                    <div class="panel-footer">
                        <h4><a href="#" title="Nature Portfolio">Nature</a></h4>
                        <span class="glyphicon glyphicon-option-vertical pull-right">

                    </span>
                    </div>
                </div>
            </article>
        </section>
    </div>


    <div class="dropdown">
        <a data-target="#" href="#/user/dashboard" data-toggle="dropdown" class="dropdown-toggle">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
        </ul>
    </div>

</div>