
<script src="http://rawgithub.com/ashleydw/lightbox/master/dist/ekko-lightbox.js"></script>

<div ng-include="'./views/menu/recruiter-menu.view.client.html'"></div>


<div class="container container-if-fixed-header">

    <div class="row">
        <form name="searchForm">
            <div class="form-group url-pb-class">
                <label class="control-label"><h3>Search By Skills:</h3></label>
                <div ng-messages="searchForm.search.$touched && searchForm.search.$error">
                    <p class="text-warning" ng-message="required">Enter a skill keyword to search.</p>
                </div>
                <div class="input-group">
                    <input ng-model="model.skill" name="search" required type="text" class="form-control"/>
                    <span class="input-group-btn">
                    <a class="btn btn-success btn-block" ng-click="searchForm.$valid && model.getUsersForSkill(model.skill)">
                        Search
                    </a>
                </span>
                </div>
            </div>
        </form>
    </div>

    <br/>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="alert alert-dismissible alert-danger" ng-show="model.error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Oh snap!</strong> {{model.error}}
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>

    <div class="row">
        <div ng-repeat="u in model.userList">
                <div href="#" class="list-group-item col-md-3 custom-card custom-card-1">
                    <h3 class="list-group-item-heading">{{u.firstName}} {{u.lastName}}</h3>
                    <h5 class="list-group-item-text">{{u.email}}</h5>
                    <br/>
                    <div>
                        <label>Links</label>
                        <h5 class="list-group-item-text">{{u.githubUrl}}</h5>
                        <h5 class="list-group-item-text">{{u.personalWebsite}}</h5>
                    </div>
                    <br/>
                    <br/>
                    <div class="pull-left">
                        <a class="btn btn-primary btn-xs" href="#/recruiter/{{model.rid}}/{{u._id}}/{{u.firstName}}/{{model.recruiter.companyname}}/newmessage">Send Message</a>
                    </div>
                </div>
        </div>
    </div>

</div>
