.container-if-fixed-header
{
    margin-top:70px;
}
.container-if-fixed-footer
{
    margin-bottom:80px;
}

#mycontent-left {
    float: left;
    height: 200px;
    width: 100%;
}
#mycontent-right:after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 1px;
    height: 1200px;
    display: block;
}
#mycontent-right {
    float: right;
    width: 100%;
}

.margin-top-pb
{
    margin-top: 100px;
}

tags-input .tags .tag-item
{
    display: inline-block;
    padding-left:10px;
    padding-right: 10px;
    margin:2px;
    margin-top: 10px;
    background: #2c3e50 !important;
    float: left;
}
tags-input .tags input
{
    display: inline-block;
    margin:5px;
    line-height:2 !important;
}

.addeducation-large
{
    float: right;
    width: 95%;
}

.url-pb-class
{
    margin-left: 30px;
    margin-right: 30px;
}