<div ng-include="'./views/menu/menu.view.client.html'"></div>

<div class="container container-if-fixed-header">

       <div class="row">
           <div class="col-lg-12">
               <div class="col-lg-8">
                   <legend>Skills</legend>
                   <hr/>
                   <div class="form-group">
                       <div>
                           <tags-input type="text" ng-model="model.skills" placeholder="Course Name"></tags-input>
                       </div>
                       <br/>
                       <div>
                         <a class="btn btn-block btn-primary">Save</a>
                       </div>
                   </div>
               </div>
           </div>
       </div>

       <hr/>
       <br/>
       <br/>
       <div class="col-sm-12 col-xs-12 col-lg-6 col-md-6">

           <div id="mycontent-left">
               <form class="form-horizontal">
                   <fieldset>
                       <legend>Projects</legend>

                       <div class="list-group">
                           <div href="#" class="list-group-item list-group-item-bordered">
                               <h3 class="list-group-item-heading">Resume Builder WebApp</h3>
                               <h5 class="list-group-item-text">2016-2018</h5>
                               <h5 class="list-group-item-text">MEAN stack app to automatically build Resume based on job description.</h5>
                               <br/>
                               <div>
                                   <label>Team Members</label>
                                   <p>Pankti Bhalani</p>
                               </div>
                               <br/>
                               <div>
                                   <label>Project Url</label>
                                   <p>http://www.github.com/savanpatel/ resbuilder</p>
                               </div>
                               <a href="#/user/123/project/1"><i class="fa fa-cog pull-right fa-2x"></i></a>
                               <br/>
                               <br/>
                           </div>
                           <br/>

                           <div href="#" class="list-group-item list-group-item-bordered">
                               <h3 class="list-group-item-heading">Ha Proxy Analyser</h3>
                               <h5 class="list-group-item-text">2016-2018</h5>
                               <h5 class="list-group-item-text">Real time stats scrapper from HaProxy logs in Python.</h5>
                               <br/>
                               <div>
                                   <label>Team Members</label>
                                   <p></p>
                               </div>
                               <br/>
                               <div>
                                   <label>Project Url</label>
                                   <p>http://www.github.com/savanpatel/ha-analyzer</p>
                               </div>
                               <a href="#/user/123/project/1"><i class="fa fa-cog pull-right fa-2x"></i></a>
                               <br/>
                               <br/>
                           </div>
                           <br/>
                       </div>


                       <div class="form-group hidden-md visible-xs visible-sm">
                           <div class="col-lg-10 col-lg-offset-1">
                               <button type="button" class="btn btn-block center-block btn-primary" ng-click="isCollapsed = !isCollapsed">Add Project</button>
                           </div>
                       </div>


                   </fieldset>
               </form>

               <br/>
               <div uib-collapse="isCollapsed">

                 <div class="hidden-md visible-xs visible-sm" ng-include="'./views/user/user.addworkexp.form.view.client.html'">

                 </div>
               </div>

           </div>
        </div>

    <div class="col-lg-6 col-md-6 hidden-xs hidden-sm pull-right">
        <br/>
        <br/>
        <br/>
        <br/>
        <div id="mycontent-right" class="row">
            <div class="col-lg-12 addproject-large">
                <legend class="col-lg-12 col-lg-offset-1">Add Project</legend>
                <div  class="addeducation-large" ng-include="'./views/user/user.addworkexp.form.view.client.html'"></div>

            </div>
        </div>
    </div>
</div>