<form name="educationForm" class="form-horizontal" novalidate>
    <fieldset>
            <div>
                <div class="form-group">
                    <label for="school" class="col-lg-3 control-label">School/University</label>
                    <div class="col-lg-9">
                        <input type="text" name="school" required class="form-control" id="school" ng-model="model.school.school" placeholder="School/University">
                        <div ng-messages="educationForm.school.$touched && educationForm.school.$error">
                            <p class="text-warning" ng-message="required">Your school name is required.</p>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="startyear" class="col-lg-3 control-label">Start Year</label>
                    <div class="col-lg-9">
                        <input type="number" name="startyear" required class="form-control" id="startyear" ng-model="model.school.startYear" placeholder="Start Year">
                        <div ng-messages="educationForm.startyear.$touched && educationForm.startyear.$error">
                            <p class="text-warning" ng-message="required">Your start year is required.</p>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="endyear" class="col-lg-3 control-label">End Year</label>
                    <div class="col-lg-9">
                        <input type="text" name="endyear" required class="form-control" id="endyear" ng-model="model.school.endYear" placeholder="End/Expected Year">
                        <div ng-messages="educationForm.endyear.$touched && educationForm.endyear.$error">
                            <p class="text-warning" ng-message="required">Your end year is required.</p>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Courses</label>
                    <div class="col-lg-9">
                        <tags-input type="text" ng-model="model.school.courses" placeholder="Course Name"></tags-input>
                    </div>
                </div>

                <div class="form-group">
                    <label for="degree" class="col-lg-3 control-label">Degree</label>
                    <div class="col-lg-9">
                        <input type="text" name="degree" required class="form-control" id="degree" ng-model="model.school.degree" placeholder="Degree">
                        <div ng-messages="educationForm.degree.$touched && educationForm.degree.$error">
                            <p class="text-warning" ng-message="required">Your degree is required.</p>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="field" class="col-lg-3 control-label">Field</label>
                    <div class="col-lg-9">
                        <input type="text" name="field" required class="form-control" id="field" ng-model="model.school.field" placeholder="Field">
                        <div ng-messages="educationForm.field.$touched && educationForm.field.$error">
                            <p class="text-warning" ng-message="required">Your field name is required.</p>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="grade" class="col-lg-3 control-label">Grade</label>
                    <div class="col-lg-9">
                        <input type="number"  class="form-control" id="grade" ng-model="model.school.grade" placeholder="Grade">
                    </div>
                </div>
                   <br/>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-1">
                        <a type="submit" ng-click="educationForm.$valid && model.createEducation(model.school)" class="btn center-block btn-primary">Save</a>
                    </div>
                </div>
            </div>
    </fieldset>
</form>