<div ng-include="'./views/menu/menu.view.client.html'"></div>

<div class="container container-if-fixed-header">

      <div class="row">
           <div class="col-sm-12 col-xs-12 col-lg-6 col-md-6 custom-card-2">
               <div>
                   <br/>
                   <form name="userForm"class="form-horizontal" novalidate>
                       <fieldset>
                           <legend class="text-center">Basic Information</legend>
                           <div class="form-group">
                               <div class="col-lg-12">
                                   <span class="form-control help-block"  ng-show="model.error" ng-model="model.error" disabled="">{{model.error}}</span>
                               </div>
                           </div>

                           <div class="form-group">
                               <label class="col-lg-2 control-label" for="username">Username</label>
                               <div class="col-lg-10">
                                 <input class="form-control" id="username" type="text" placeholder="username" ng-model="model.user.username" disabled="">
                               </div>
                           </div>

                           <div class="form-group">
                               <label for="firstname" class="col-lg-2 control-label">First Name</label>
                               <div class="col-lg-10">
                                   <input type="text" name="firstname" required class="form-control" id="firstname" ng-model="model.user.firstName" placeholder="First Name">
                                   <div ng-messages="userForm.firstname.$touched && userForm.firstname.$error">
                                       <p class="text-warning" ng-message="required">Your firstname is required.</p>
                                   </div>
                               </div>
                           </div>

                           <div class="form-group">
                               <label for="lastname" class="col-lg-2 control-label">Last Name</label>
                               <div class="col-lg-10">
                                   <input type="text" name="lastname" required class="form-control" id="lastname" ng-model="model.user.lastName" placeholder="Last Name">
                                   <div ng-messages="userForm.lastname.$touched && userForm.lastname.$error">
                                       <p class="text-warning" ng-message="required">Your lastname is required.</p>
                                   </div>
                               </div>


                           </div>

                           <div class="form-group">
                               <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                               <div class="col-lg-10">
                                   <input name="email1" required type="email" class="form-control" id="inputEmail" ng-model="model.user.email" placeholder="Email">
                                   <div ng-messages="userForm.email1.$touched && userForm.email1.$error">
                                       <p class="text-warning" ng-message="required">Your email is required.</p>
                                   </div>
                               </div>
                           </div>


                           <div class="form-group">
                               <label for="textArea" class="col-lg-2 control-label">Address</label>
                               <div class="col-lg-10">
                                   <textarea class="form-control" rows="3" id="textArea" ng-model="model.user.address"></textarea>
                               </div>
                           </div>

                           <div class="form-group">
                               <label for="contact" class="col-lg-2 control-label">Contact</label>
                               <div class="col-lg-10">
                                   <input type="number" name="phonenumber" ng-maxlength="10" ng-minlength="10" class="form-control" id="contact" ng-model="model.user.contact" placeholder="Contact Number">
                                   <div ng-messages="userForm.phonenumber.$touched && userForm.phonenumber.$error">
                                       <p class="text-warning" ng-message="minlength">Phone number should be of length 10</p>
                                       <p class="text-warning" ng-message="maxlength">Phone number should be of length 10</p>
                                   </div>
                               </div>
                           </div>

                           <div class="form-group">
                               <label for="github" class="col-lg-2 control-label">GitHub</label>
                               <div class="col-lg-10">
                                   <input type="text" name="github" class="form-control" id="github" ng-model="model.user.githubUrl" placeholder="GitHub Url">
                               </div>

                           </div>

                           <div class="form-group">
                               <label for="personalurl" class="col-lg-2 control-label">Personal Website</label>
                               <div class="col-lg-10">
                                   <input type="text" name="personalWebsite" class="form-control" id="personalurl" ng-model="model.user.personalWebsite" placeholder="Personal Website Url">
                               </div>
                           </div>

                           <div class="form-group">
                               <label class="col-lg-2 control-label">Make Profile Public</label>
                               <div class="col-lg-10">
                                   <toggle-switch ng-model="model.user.isPublic" class="switch-primary"></toggle-switch>
                               </div>
                           </div>

                           <hr/>
                           <br/>
                           <br/>
                           <div class="form-group">
                               <div class="col-lg-10 col-lg-offset-2">
                                   <button type="submit" class="btn btn-block btn-primary" ng-click="userForm.$valid && model.updateUser(model.user)">Update</button>
                               </div>
                           </div>
                       </fieldset>
                   </form>
               </div>
            </div>


          <div class="col-sm-12 col-xs-12 col-lg-6 col-md-6 custom-card-2">
              <div>
                  <br/>
                  <br/>
                  <form name="passwordForm"class="form-horizontal" novalidate>
                      <fieldset>
                          <legend class="text-center">Update Password</legend>
                          <div class="form-group">
                              <div class="col-lg-12">
                                  <span class="form-control help-block"  ng-show="model.passwordError" ng-model="model.error" disabled="">{{model.passwordError}}</span>
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="col-lg-2 control-label" for="username">Old Password</label>
                              <div class="col-lg-10">
                                  <input class="form-control" name="oldPassword" required id="oldPassword" type="text" placeholder="Old Password" ng-model="model.passwordInfo.oldPassword">
                              </div>
                              <div ng-messages="passwordForm.oldPassword.$touched && passwordForm.oldPassword.$error">
                                  <p class="text-warning" ng-message="required">Please provide old password</p>
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="col-lg-2 control-label" for="username">New Password</label>
                              <div class="col-lg-10">
                                  <input class="form-control" name="newPassword" required id="newPassword" type="text" placeholder="New Password" ng-model="model.passwordInfo.newPassword">
                              </div>
                              <div ng-messages="passwordForm.newPassword.$touched && passwordForm.newPassword.$error">
                                  <p class="text-warning" ng-message="required">Please provide new password</p>
                              </div>
                          </div>
                          <hr/>
                          <br/>
                          <br/>
                          <div class="form-group">
                              <div class="col-md-8 col-md-offset-2">
                                  <button type="submit" class="btn btn-block btn-primary" ng-click="passwordForm.$valid && model.updateUserPassword(model.passwordInfo)">Update</button>
                              </div>
                          </div>
                      </fieldset>
                  </form>
              </div>
          </div>
      </div>

</div>