<div ng-include="'./views/menu/menu.view.client.html'"></div>

<div class="container container-if-fixed-header">


       <div class="col-sm-12 col-xs-12 col-lg-6 col-md-6">

           <div id="mycontent-left">
               <form class="form-horizontal">
                   <fieldset>
                       <legend>Education</legend>

                       <div class="list-group">
                           <div href="#" class="list-group-item list-group-item-bordered">
                               <h3 class="list-group-item-heading">Northeastern University</h3>
                               <h4 class="list-group-item-text">Masters, Computer Science</h4>
                               <h5 class="list-group-item-text">2016-2018</h5>
                               <br/>
                               <div>
                                   <label>Courses</label>
                                   <p>Computer Systems, Algorithms</p>
                               </div>
                               <div>
                                   <label>Grade</label>
                                   <p>4</p>
                               </div>

                               <a href="#/user/123/education/1"><i class="fa fa-trash pull-right fa-2x"></i></a>
                               <a href="#/user/123/education/1"><i class="fa fa-pencil pull-right fa-2x"></i></a>
                               <br/>
                               <br/>
                           </div>
                           <br/>

                           <div href="#" class="list-group-item list-group-item-bordered">
                               <h3 class="list-group-item-heading">Northeastern University</h3>
                               <h4 class="list-group-item-text">Masters, Computer Science</h4>
                               <h5 class="list-group-item-text">2016-2018</h5>
                               <br/>
                               <div>
                                   <label>Courses</label>
                                   <p>Computer Systems, Algorithms</p>
                               </div>
                               <div>
                                   <label>Grade</label>
                                   <p>4</p>
                               </div>
                               <a href="#/user/123/education/1"><i class="fa fa-trash pull-right fa-2x"></i></a>
                               <a href="#/user/123/education/1"><i class="fa fa-pencil pull-right fa-2x"></i></a>
                               <br/>
                               <br/>
                           </div>
                           <br/>
                       </div>


                       <div class="form-group hidden-md visible-xs visible-sm">
                           <div class="col-lg-10 col-lg-offset-1">
                               <button type="button" class="btn btn-block center-block btn-primary" ng-click="isCollapsed = !isCollapsed">Add Education</button>
                           </div>
                       </div>


                   </fieldset>
               </form>

               <br/>
               <div uib-collapse="isCollapsed">

                 <div class="hidden-md visible-xs visible-sm" ng-include="'./views/user/user.addeducation.form.view.client.html'">

                 </div>
               </div>

           </div>
        </div>

    <div class="col-lg-6 col-md-6 hidden-xs hidden-sm pull-right">
        <br/>
        <br/>
        <br/>
        <br/>
        <div id="mycontent-right" class="row">
            <div class="col-lg-12 addeducation-large">
                <legend class="col-lg-12 col-lg-offset-1">Add Education</legend>
                <div  class="addeducation-large" ng-include="'./views/user/user.addeducation.form.view.client.html'">

                </div>

            </div>
        </div>
    </div>
</div>