<div ng-include="'./views/menu/menu.view.client.html'"></div>

<div class="container-if-fixed-header">

    <div class="col-sm-6 margin-top-pb">
        <div class="card">
            <div class="card-block">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>Login</legend>
                        <div class="form-group">
                            <label for="inputUsername" class="col-lg-2 col-md-2 col-sm-3 col-xs-3 control-label">Username</label>
                            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
                                <input type="text" class="form-control" id="inputUsername" placeholder="Username">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword" class="col-lg-2 col-md-2 col-sm-3 col-xs-3 control-label">Password</label>
                            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-6 margin-top-pb">
        <div class="card">
            <div class="card-block">
                <div class="embed-responsive embed-responsive-16by9 col-xs-12 text-center">
                    <iframe class="embed-responsive-item"
                            src="http://www.youtube.com/embed/zpOULjyy-n8?rel=0"
                            align="center" id="videothumbnail"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
