 <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 text-center"><i class="fa fa-snowflake-o fa-5x" aria-hidden="true"></i></div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center"><h1>Login</h1></div>
        </div>
        <div ng-show="model.error" class="alert alert-danger" role="alert">
         {{model.error}}
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" ng-model="user.username" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" ng-model="user.password" class="form-control" id="password" placeholder="password">
        </div>

        <a class="btn btn-primary btn-block btn-success" ng-click="model.login(user)">Login</a>
        <a class="btn btn-success btn-block btn-danger" href="#/register">Register</a>
    </div>
