<!--
<div ng-include="'./views/menu/menu.view.client.html'"></div>
-->

<div class="container container-if-fixed-header">

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6 col-md-offset-3 card">
                <div class="col-md-5 card-block custom-card-v2 custom-card-1" style="background: #e74c3c; color:white">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h1 class="card-title" style="font-size: 5em;" >401</h1>
                        </div>
                        <div class="col-md-6">
                            <br/>
                            <h2 class="card-title">Unauthorized</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/>
    <br/>

    <hr/>
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <h3>Here is what might have happened!</h3>
            <ul>
                <li><h4>You tried to access unauthorized page.</h4></li>
                <li><h4> Your session expired. Please login again.</h4></li>
            </ul>
        </div>
    </div>

    <br/>
    <br/>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <a class="btn btn-primary btn-block" href="#/login">Login Again</a>
        </div>
    </div>

    <br/>
    <br/>
</div>
