<div ng-include="'./views/menu/admin.menu.view.client.html'"></div>
<div class="container container-if-fixed-header">
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-lg-6 col-md-6 custom-card-2">
            <div id="">
                <form class="form-horizontal" name="editRecruiterForm">
                    <fieldset>
                        <legend>Recruiter Information</legend>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <span class="form-control help-block"  ng-show="model.error" ng-model="model.error" disabled="">{{model.error}}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="username">Username</label>
                            <div class="col-lg-10">
                                <input class="form-control" ng-change="model.checkUsernameAvailability(model.recruiter.username)" name="username" required id="username" type="text" placeholder="username" ng-model="model.recruiter.username" >
                                <span class="help-block" ng-show="model.checkUsername">{{model.checkUsername}}</span>
                            </div>
                            <div class="col-sm-8 col-sm-offset-2" ng-messages="editRecruiterForm.username.$touched && editRecruiterForm.username.$error">
                                <p class="text-warning" ng-message="required">Please enter username.</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="companyName" class="col-lg-2 control-label">Company Name</label>
                            <div class="col-lg-10">
                                <input type="text" name="companyname" required class="form-control" id="companyName" ng-model="model.recruiter.companyname" placeholder="Company Name">
                            </div>
                            <div class="col-sm-8 col-sm-offset-2" ng-messages="editRecruiterForm.companyname.$touched && editRecruiterForm.companyname.$error">
                                <p class="text-warning" ng-message="required">Please enter company name.</p>
                            </div>
                        </div>

                        <hr/>
                        <br/>
                        <br/>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="submit" class="btn btn-block btn-primary" ng-click="editRecruiterForm.$valid && model.update(model.recruiter)">Update</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

        <div class="col-sm-12 col-xs-12 col-lg-6 col-md-6 custom-card-2">
            <div>
                <br/>
                <br/>
                <br/>
                <br/>
                <form name="passwordForm"class="form-horizontal" novalidate>
                    <fieldset>
                        <legend class="text-center">Update Password</legend>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <span class="form-control help-block"  ng-show="model.passwordError" ng-model="model.error" disabled="">{{model.passwordError}}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="username">New Password</label>
                            <div class="col-lg-10">
                                <input class="form-control" name="newPassword" required id="newPassword" type="password" placeholder="New Password" ng-model="model.newPassword">
                            </div>
                            <div ng-messages="passwordForm.newPassword.$touched && passwordForm.newPassword.$error">
                                <p class="text-warning" ng-message="required">Please provide new password</p>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <br/>

                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-2">
                                <button type="submit" class="btn btn-block btn-primary" ng-click="passwordForm.$valid && model.updateRecruiterPassword(model.rid,model.newPassword)">Update Password</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>