<div ng-include="'./views/menu/admin.menu.view.client.html'"></div>
<div class="container container-if-fixed-header">
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-lg-6 col-md-6">
            <div id="">
                <form class="form-horizontal" name="editUserForm">
                    <fieldset>
                        <legend>Basic Information</legend>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <span class="form-control help-block"  ng-show="model.error" ng-model="model.error" disabled="">{{model.error}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="username">Username</label>
                            <div class="col-lg-10">
                                <input class="form-control" id="username" type="text" placeholder="username" ng-model="model.user.username" disabled="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-lg-2 control-label">Password</label>
                            <div class="col-lg-10">
                                <input type="text" name="password" required class="form-control" id="password" ng-model="model.user.password" placeholder="Password">
                            </div>
                            <div class="col-sm-8 col-sm-offset-2" ng-messages="editUserForm.password.$touched && editUserForm.password.$error">
                                <p class="text-warning" ng-message="required">Password is missing.</p>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-lg-2 control-label">Make Profile Public</label>
                            <div class="col-lg-10">
                                <toggle-switch ng-model="model.user.isPublic" class="switch-primary"></toggle-switch>
                            </div>
                        </div>

                        <hr/>
                        <br/>
                        <br/>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="submit" class="btn btn-block btn-primary" ng-click="editUserForm.$valid && model.update(model.userId)">Update</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>