<div class="container-fluid container-if-fixed-header signin-background">
    <div class="row">
        <div class="col-sm-5 col-sm-offset-3">
            <div class="login-border login-box">
                <form>
                    <fieldset>
                        <div class="card-header">
                            <div class="col-sm-6">
                                <h1 class="col-sm-offset-4">Register</h1>
                            </div>
                        </div>
                        <br/>

                        <div class="col-sm-9 col-sm-offset-3">
                            <div class="form-group">
                                <div class="input-group col-md-8">
                                    <div ng-show="model.error" class="alert alert-danger" role="alert">
                                        {{model.error}}
                                    </div>
                                    <br/>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group col-md-8">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input type="text" ng-model="user.username" ng-change="model.checkUsernameAvailability(user.username)" class="form-control" id="inputUsername" placeholder="Username">
                                </div>
                                <span class="help-block" ng-show="model.checkUsername">{{model.checkUsername}}</span>

                            </div>

                            <div class="form-group">
                                <div class="input-group col-md-8">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input type="password" ng-model="user.password" class="form-control" id="inputPassword" placeholder="Password">
                                </div>
                                <span class="help-block" ng-show="model.checkPassword">{{model.checkPassword}}</span>
                            </div>

                            <div class="form-group">
                                <div class="input-group col-md-8">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input type="password" ng-model="user.repassword" class="form-control" id="inputRePassword" placeholder="Retype Password">
                                </div>
                                <span class="help-block" ng-show="model.checkRePassword">{{model.checkRePassword}}</span>

                            </div>

                            <div class="form-group">
                                <div class="input-group col-md-8">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input type="text" ng-model="user.firstName" class="form-control" id="inputFirstName" placeholder="First Name">
                                </div>
                                <span class="help-block" ng-show="model.checkFirstName">{{model.checkFirstName}}</span>
                            </div>

                            <div class="form-group">
                                <div class="input-group col-md-8">
                                    <span class="input-group-addon"><i class="fa fa-user-o"></i></span>
                                    <input type="text" ng-model="user.lastName" class="form-control" placeholder="Last Name">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group col-md-8">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    <input type="email" ng-model="user.email" class="form-control" placeholder="Email">
                                </div>
                                <span class="help-block" ng-show="model.checkEmail">{{model.checkEmail}}</span>
                            </div>

                            <div class="form-group">
                                <div class="col-md-8 center-block">

                                    <div>
                                        <a ng-click="model.register(user)" class="btn btn-block btn-info">Register</a>
                                    </div>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

        </div>
    </div> <!-- End row-->
</div>