<div ng-include="'./views/menu/menu.view.client.html'"></div>
<div class="signin-background">
    <div class="text-center pb-div-center">
    <div class="hidden-xs">
    <thumbnail class="text-center" class="ng-thumbnail" file-type="pdf" source={{model.pdfuri}} scale="1">
    </thumbnail>
    </div>
    <div class="hidden-lg hidden-md hidden-sm">
        <thumbnail class="ng-thumbnail" file-type="pdf"  max-width="300" source="Pankti-Bhalani-Resume.pdf" scale="1">
        </thumbnail>
    </div>
        <a href="#" class="btn btn-success">Submit</a>
        <a href="#" class="btn btn-info">Download</a>
        <a href="#" class="btn btn-warning">Edit</a>
        <a href="#" class="btn btn-danger">Cancel</a>
    </div>
</div>