<div ng-include="'./views/menu/menu.view.client.html'"></div>
<div class="signin-background">
    <div class="text-center pb-div-center">
    <div class="hidden-xs">
    <thumbnail class="text-center" class="ng-thumbnail" file-type="pdf" source={{model.pdfuri}} scale="1">
    </thumbnail>
    </div>
    <div class="hidden-lg hidden-md hidden-sm">
        <thumbnail class="ng-thumbnail" file-type="pdf"  max-width="300" source={{model.pdfuri}} scale="1">
        </thumbnail>
    </div>
        <a ng-click="model.downlaodDocx()" class="btn btn-info">Download Docx File</a>
        <a ng-click="model.downloadPDF()" class="btn btn-success">Download PDF File</a>
        <a ng-click="model.deleteResume()" class="btn btn-danger">Delete</a>
    </div>
</div>